@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.username, .password{
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;

}
.submitBtn{
    height: 50px;
    background-color: black; 
    border: none;
    color: white;
    border-radius: 5px;


}
.logo{
    font-family: 'Genty Demo', sans-serif;
    font-size: 33px;
    padding: 20px;
    margin-left: 40px;
    color: #FF3131;
}
body{
    
    background-color: #D9D9D9;
}
.content img{
    margin-top: 100px;
    margin-left: 40px;
    font-size: 96px;
    color: black;          
    width: 500px;
}

.login-form form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
form input, select{
    
    font-size: 20px;
    
}
.wrapper{      
    justify-content: space-evenly;
    display: flex;          
}

.login-wrapper{
    border-radius: 40px;
    width: 450px;
    height: 550px;
    background-color: #EFEEEE;
}
.login-wrapper h1{
    color: #FF3131;
    padding: 50px;
    text-align: center;
}